# Dependency directories
node_modules/
lib/

# Build artifacts
out/
artifacts/
cache/
ignition/

# Environment files
.env
*.env.local

# IDE specific
.vscode/
.idea/

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
